@model DatabaseContext.Models.Bug

@{
    ViewData["Title"] = "Edit Bug";
}

<h1>Edit Bug</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" value="@Model.Id" hidden />
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <textarea cols="60" rows="10" asp-for="Details" class="form-control" ></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOpen" checked="@Model.IsOpen" /> @Html.DisplayNameFor(model => model.IsOpen)
                </label>
            </div>
             <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" asp-items="@ViewBag.AllUsers">
                </select>
            </div>
            <div class="form-group">
                <input asp-for="OpenedDate" class="form-control" value="@Model.OpenedDate" hidden />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to open bugs</a>
</div>

